<template>
<footer class="fondo">
    <div class="row">
        <div class="col-12 heightFoot bgGrayFoot copiando-a-rastreator">
             <div class="text-f"><a href="">qualitassegurosautos.com</a> | Operado por Agente de Seguros Autorizado</div>
        </div>
    </div>
</footer>
  
</template>

  <style scoped>
    
    footer {position: relative; bottom: 0;}
    .blue{color:#014f98!important;}
    .fondo{background: #e9ebee;}
    .paddTitles{padding:0 0 25px;}
    .m10{margin: -10px 0;}
    /*.container{width:1170px;}
    .container {margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}*/
    .bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
    .img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
    .vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
    .ttlefoot{margin:20px auto 2rem;}
    .centeronlysm{text-align:left;}
    .height90{height:90px;}
    .padding40{padding: 0 6%;}
    /*INI Stars*/
    fieldset, label {margin: 0; padding: 0!important;}
    .rating {border:none!important;float:inherit!important;}
    .rating > .nocolor {color:#ddd!important;}
    .rating > .sicolor{color:#FFD700!important;}
    .txtColorGray2{color:#436998;}
    .starCalif{font-size:1.5rem;font-weight:bold;color:#5c5c5c!important;}
    .average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
    span.votes{font-size:0.5em;}
    .imggoogle{width:60px;height:auto;margin:0px auto 0;}
    .sizeW{font-size:20px;}
    .shadow-cards{box-shadow:4px 4px 17px rgba(228, 221, 221, 0.66);}
    .pCero{padding:0!important;}
    .logo-newasmx-large{width:50%;margin: 0 auto;display:inline-block;height: auto;}
    .bgGrayFoot{background:#f3f2f2;padding:3em;color:#656565;text-align:center;}
    .pacdi{padding:3em 2em;}
    li.lio {display:inline-flex;}
    li.lio a {margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    li.lio a:hover{margin: 0px 0px 10px;display: block;color: #9e9e9e;}
    .copiando-a-rastreator{background:#fff;box-shadow:0px -3px 10px #eae9e9;}
    @media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;} .text-f{font-size: 12px;}}
    @media (min-width: 1600px) {.paddTitles{padding: 0 220px;}}
    @media(min-width:1601px) and (max-width:4000px){.paddTitles{padding: 0 381px;}}

  </style>
