<template lang="pug">
  .row.setup-content-2(id="step-4")
    .col-md-12
      h4.pl-0.mt-4.mb-1
        .text-secondary Datos del Pago
      span.mb-4.text-secondary Comprar póliza de seguro de auto
      .form-row.mt-4(id="datosPago")
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NombreTarjeta", id="NombreTarjeta", v-validate="{ required: true }", v-model="$store.state.emision.Pago.NombreTarjeta", :class="{'input': true, 'is-invalid': errors.has('NombreTarjeta') }", aria-label="Titular de Tarjeta", maxlength="50", type="text", placeholder="Titular de Tarjeta", required)
          small.form-text.text-danger(v-show="errors.has('titularTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('titularTarjeta') }}
        .col-12.col-sm-6.pb-2
          select.form-control.selectpicker(name="Banco", id="Banco", v-validate="{ required: true }", v-model="$store.state.emision.Pago.Banco", :class="{'input': true, 'is-invalid': errors.has('Banco') }", aria-label="Banco", placeholder="Banco", required)
            option(value="", selected="true") Seleccione su banco...
            option(v-for="e in $store.state.config.bancos", :value="e.Abreviacion" ) {{e.Abreviacion}}
          small.form-text.text-danger(v-show="errors.has('Banco')")
            i.fa.fa-exclamation-triangle {{ errors.first('Banco') }}
        .w-100
        .col-12.col-sm-4.pb-2
          select.form-control.selectpicker(name="MedioPago", id="MedioPago", v-validate="'required'", v-model="$store.state.emision.Pago.MedioPago", :class="{'input': true, 'is-invalid': errors.has('MedioPago') }", aria-label="Tipo tarjeta", required)
            option(value="") Metodo de Pago
            option(value="DEBITO") DEBITO
            option(value="CREDITO") CREDITO
          small.form-text.text-danger(v-show="errors.has('MedioPago')")
            i.fa.fa-exclamation-triangle {{ errors.first('MedioPago') }}
        .col-12.col-sm-4.pb-2
          select.form-control.selectpicker(name="Carrier", id="Carrier", v-validate="'required'", v-model="$store.state.emision.Pago.Carrier", :class="{'input': true, 'is-invalid': errors.has('Carrier') }", aria-label="Carrier", required)
            option(value="") Carrier
            option(value="1") VISA
            option(value="2") MASTER CARD
            option(value="3") AMERICAN EXPRESS
          small.form-text.text-danger(v-show="errors.has('MedioPago')")
            i.fa.fa-exclamation-triangle {{ errors.first('MedioPago') }}
        .col-12.col-sm-4.pb-2
          input.form-control(name="NoTarjeta", id="NoTarjeta", v-validate="{ required: true, max:18, min:16}", v-model="$store.state.emision.Pago.NoTarjeta", :class="{'input|password': true, 'is-invalid': errors.has('NoTarjeta') }", aria-label="Numero tarjeta", maxlength="20", type="text", placeholder="Número de tarjeta", required)
          small.form-text.text-danger(v-show="errors.has('NoTarjeta')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoTarjeta') }}
        .w-100
        .col-12.col-sm-4.pb-2
          select.form-control.selectpicker(name="MesExp", id="MesExp", v-validate="'required'", v-model="$store.state.emision.Pago.MesExp", :class="{'input': true, 'is-invalid': errors.has('MesExp') }", aria-label="Mes tarjeta", required)
            option(value="") Mes
            option(value="01") 01
            option(value="02") 02
            option(value="03") 03
            option(value="04") 04
            option(value="05") 05
            option(value="06") 06
            option(value="07") 07
            option(value="08") 08
            option(value="09") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
          small.form-text.text-danger(v-show="errors.has('MesExp')")
            i.fa.fa-exclamation-triangle {{ errors.first('MesExp') }}
        .col-12.col-sm-4.pb-2
          select.form-control.selectpicker(name="AnioExp", id="AnioExp", v-validate="'required'", v-model="$store.state.emision.Pago.AnioExp", :class="{'input': true, 'is-invalid': errors.has('AnioExp') }", aria-label="Año tarjeta", required)
            option(value="") año
            option(v-for="e in anios", :value="e" ) {{e}}
          small.form-text.text-danger(v-show="errors.has('AnioExp')")
            i.fa.fa-exclamation-triangle {{ errors.first('AnioExp') }}
        .col-12.col-sm-4.pb-2
          input.form-control(name="CodigoSeguridad", id="CodigoSeguridad", v-validate="{ required: true, max:4, min:3}", v-model="$store.state.emision.Pago.CodigoSeguridad", :class="{'input|password': true, 'is-invalid': errors.has('CodigoSeguridad') }", aria-label="CCV", maxlength="5", type="password", placeholder="CCV", required)
          small.form-text.text-danger(v-show="errors.has('CodigoSeguridad')")
            i.fa.fa-exclamation-triangle {{ errors.first('CodigoSeguridad') }}
        .col-2.pb-2
    .col-12
      button.btn.btn-light.float-left.btn-blocky.text-muted(type="button", @click="backStep('step_tres')")
        i.fa.fa-chevron-left &nbsp;
          | Anterior
      button.btn.btn-success.float-right.btn-rounded.btn-blocky(type="submit", @click="pagarPoliza(false)", :disabled="!$store.state.config.clickButtonEmision ? '' : disabled") Confirmar&nbsp;
        i.fa.fa-chevron-right
</template>
<script>
export default {
  data() {
    return {
      anios: []
    }
  },
  created() {
    this.llenarAnios()
  },
  methods: {
  //Ajustes Leo
  pagarPoliza: function(dato) {
          this.$store.state.config.btnOculto = dato
          this.$store.state.config.clickButtonEmision = dato
        },
    nextStep: function(step) {

      this.$validator.validateAll().then(result => {
        if (result) {
          for (var stepInArray in this.$store.state.config.steps) {
            if (step == stepInArray) {
              this.$store.state.config.steps[stepInArray] = true
            } else {
              this.$store.state.config.steps[stepInArray] = false
            }
          }
        }
      })
    },
    backStep: function(step) {
      for (var stepInArray in this.$store.state.config.steps) {
        if (step == stepInArray) {
          this.$store.state.config.steps[stepInArray] = true
        } else {
          this.$store.state.config.steps[stepInArray] = false
        }
      }
    },
    llenarAnios() {
      for (
        var i = new Date().getFullYear();
        i <= new Date().getFullYear() + 20;
        i++
      ) {
        this.anios.push(i)
      }
    }
  }       
}
</script>

