<template lang="pug">
  .row.setup-content-2(id="step-2")
    .col-md-12
      h4.pl-0.mt-4.mb-1
        .text-secondary Dirección del Cliente
      span.mb-4.text-secondary Comprar póliza de seguro de auto
      .form-row.mt-4(id="direccionCliente")
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="Pais", id="Pais", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Pais", :class="{'input': true, 'is-invalid': errors.has('Pais') }", aria-label="Pais", maxlength="50", type="text", placeholder="Pais", readonly)
          small.form-text.text-danger(v-show="errors.has('Pais')")
            i.fa.fa-exclamation-triangle {{ errors.first('Pais') }}
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="Ciudad", id="Ciudad", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Ciudad", :class="{'input': true, 'is-invalid': errors.has('Ciudad') }", aria-label="Ciudad", maxlength="50", type="text", placeholder="Ciudad", readonly)
          small.form-text.text-danger(v-show="errors.has('Ciudad')")
            i.fa.fa-exclamation-triangle() {{ errors.first('Ciudad') }}
        .w-100
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="Poblacion", id="Poblacion", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Poblacion", :class="{'input': true, 'is-invalid': errors.has('Poblacion') }", aria-label="Poblacion", maxlength="50", type="text", placeholder="Poblacion", readonly)
          small.form-text.text-danger(v-show="errors.has('Poblacion')")
            i.fa.fa-exclamation-triangle {{ errors.first('Poblacion') }}
        .col-12.col-sm-6.pb-2
          select.form-control.selectpicker(name="Colonia", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Colonia", :class="{'input': true, 'is-invalid': errors.has('Colonia') }", aria-label="Colonia", placeholder="Colonia", required)
            option(value="", selected="true") Selecciona tu colonia...
            option(v-for="e in $store.state.config.colonias", :value="e.asenta" ) {{e.asenta}}
          small.form-text.text-danger(v-show="errors.has('Colonia')")
            i.fa.fa-exclamation-triangle {{ errors.first('Colonia') }}
        .w-100
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="Calle", id="Calle", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.Calle", :class="{'input': true, 'is-invalid': errors.has('Calle') }", aria-label="Calle", maxlength="150", type="text", placeholder="Calle", required)
          small.form-text.text-danger(v-show="errors.has('Calle')")
            i.fa.fa-exclamation-triangle {{ errors.first('Calle') }}
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NoInt", id="NoInt", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.NoInt", :class="{'input': true, 'is-invalid': errors.has('NoInt') }", aria-label="Numero interior", maxlength="5", type="text", placeholder="No. interior", required)
          small.form-text.text-danger(v-show="errors.has('NoInt')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoInt') }}
        .w-100
        .col.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NoExt", id="NoExt", v-validate="{ required: true }", v-model="$store.state.emision.Cliente.Direccion.NoExt", :class="{'input': true, 'is-invalid': errors.has('NoExt') }", aria-label="No. Exterior", maxlength="5", type="text", placeholder="No. Exterior", required)
          small.form-text.text-danger(v-show="errors.has('NoExt')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoExt') }}
    .col-12
      button.btn.btn-light.float-left.btn-blocky.text-muted(type="button", @click="backStep('step_uno')")
        i.fa.fa-chevron-left &nbsp;
          | Anterior
      button.btn.btn-success.float-right.btn-blocky.font-weight-bold(type="button", @click="nextStep('step_tres')") Siguiente&nbsp;
        i.fa.fa-chevron-right
</template>
<script>
export default {
  created() {},
  methods: {
    backStep: function(step) {
      for (var stepInArray in this.$store.state.config.steps) {
        if (step == stepInArray) {
          this.$store.state.config.steps[stepInArray] = true
        } else {
          this.$store.state.config.steps[stepInArray] = false
        }
      }
    },
    nextStep: function(step) {
      this.$validator.validateAll().then(result => {
        if (result) {
          for (var stepInArray in this.$store.state.config.steps) {
            if (step == stepInArray) {
              this.$store.state.config.steps[stepInArray] = true
            } else {
              this.$store.state.config.steps[stepInArray] = false
            }
          }
        }
      })
    }
  }
}
</script>
<style>
/* .form-control[readonly],.form-control:disabled,
 .inputlleno{border:1px solid #8eed8e;background-color:#d6fbd6;background:#d6fbd6;opacity:0.45;}
 .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}*/
</style>
