<template lang="pug">
  .row.setup-content-2(id="step-3")
    .col-md-12
      h4.pl-0.mt-4.mb-1
        .text-secondary Datos del Vehículo
      span.mb-4.text-secondary Comprar póliza de seguro de auto
      .form-row.mt-4(id="datosVehiculo")
        .col-12.col-sm-3.pb-2
          input.form-control.inputlleno(name="Marca", id="Marca", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Marca", :class="{'input': true, 'is-invalid': errors.has('Marca') }", aria-label="Marca", maxlength="50", type="text", placeholder="Marca", disabled)
          small.form-text.text-danger(v-show="errors.has('Marca')")
            i.fa.fa-exclamation-triangle {{ errors.first('Marca') }}
        .col-12.col-sm-2.pb-2
          input.form-control.inputlleno(name="Modelo", id="Modelo", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Modelo", :class="{'input': true, 'is-invalid': errors.has('Modelo') }", aria-label="Modelo", maxlength="50", type="text", placeholder="Modelo", disabled)
          small.form-text.text-danger(v-show="errors.has('Modelo')")
            i.fa.fa-exclamation-triangle {{ errors.first('Modelo') }}
        .col-12.col-sm-7.pb-2
          input.form-control.inputlleno(name="Descripcion", id="Descripcion",  v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Descripcion", :class="{'input': true, 'is-invalid': errors.has('Descripcion') }", aria-label="Descripción", maxlength="50", type="text", placeholder="Descripción", disabled)
          small.form-text.text-danger(v-show="errors.has('Descripcion')")
            i.fa.fa-exclamation-triangle {{ errors.first('Descripcion') }}
        .w-100
        .col.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NoSerie", id="NoSerie", v-validate="{ required: true, max:20, min:15}", v-model="$store.state.emision.Vehiculo.NoSerie", :class="{'input': true, 'is-invalid': errors.has('NoSerie') }", aria-label="No. Serie", maxlength="20", type="text", placeholder="No. Serie", required)
          small.form-text.text-danger(v-show="errors.has('NoSerie')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoSerie') }}
        .w-100
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NoMotor", id="NoMotor", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.NoMotor", :class="{'input': true, 'is-invalid': errors.has('NoMotor') }", aria-label="No. motor", maxlength="20", type="text", placeholder="No. motor", required)
          small.form-text.text-danger(v-show="errors.has('NoMotor')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoMotor') }}
        .col-12.col-sm-6.pb-2
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="NoPlacas", id="NoPlacas", v-validate="{ required: true, max:10, min:4}", v-model="$store.state.emision.Vehiculo.NoPlacas", :class="{'input': true, 'is-invalid': errors.has('NoPlacas') }", aria-label="Placas", maxlength="10", type="text", placeholder="Placas", required)
          small.form-text.text-danger(v-show="errors.has('NoPlacas')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoPlacas') }}
    .col-12    
      button.btn.btn-light.float-left.btn-blocky.text-muted(type="button", @click="backStep('step_dos')")
        i.fa.fa-chevron-left &nbsp;
          | Anterior
      button.btn.btn-success.float-right.btn-blocky(type="button", @click="nextStep('step_cuatro')", v-if="!this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual") Siguiente&nbsp;
        i.fa.fa-chevron-right
      button.btn.btn-success.float-right.btn-blocky(type="button", @click="emitirConTerminal()", v-if="this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual") Emitir
</template>
<script>
    import emitirService from '~/plugins/emision'
    import wsRegistro from '~/plugins/ws-save-registro'
    import wsEmisionPeticion from '~/plugins/ws-save-emision-peticion'
    import wsEmisionRespuesta from '~/plugins/ws-save-emision-respuesta'
    import wsPago from '~/plugins/ws-save-pago'
    import wsSendSMS from '~/plugins/ws-send-sms'
    import wsDatosPago from '~/plugins/ws-save-datos-pago'
    import descargaDocumento from '~/plugins/ws-downloadPDF'
    import wsupdateSolicitud from '~/plugins/ws-update-data-solicitud'
    import moment from 'moment';
export default {
  methods: {
    backStep: function(step) {
      for (var stepInArray in this.$store.state.config.steps) {
        if (step == stepInArray) {
          this.$store.state.config.steps[stepInArray] = true
        } else {
          this.$store.state.config.steps[stepInArray] = false
        }
      }
    },
    nextStep: function(step) {
      this.$validator.validateAll().then(result => {
        if (result) {
          for (var stepInArray in this.$store.state.config.steps) {
            if (step == stepInArray) {
              this.$store.state.config.steps[stepInArray] = true
            } else {
              this.$store.state.config.steps[stepInArray] = false
            }
          }
        }
      })
    },
    emitirConTerminal: function(step) {
      this.$validator.validateAll().then(result => {

          this.$store.state.config.alertErrors.error.thisErrors = false
          this.$store.state.config.alertErrors.errorSolicitud.thisErrors = false

          var jsonEmisionPetision = {
              idSolicitud: this.$store.state.datosCotizacion.idSolicitud,
              idAseguradora: this.$store.state.datosCotizacion.idAseguradora,
              peticion: JSON.stringify(this.$store.state.emision),
              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
              respuesta:''
          };
          wsEmisionPeticion.saveEmisionPeticion(jsonEmisionPetision)
              .then(respep => {

                  /*SE REALIZA LA PETICION DE LA EMICION*/
                  emitirService.emitir(JSON.stringify(this.$store.state.emision))
                      .then(resp => {
                          this.$store.state.respuestaEmision = resp

                          /*SE VALIDA LA EMISION*/
                          if(this.$store.state.respuestaEmision.Emision.Resultado === true || this.$store.state.respuestaEmision.Emision.Resultado === 'True' && this.$store.state.respuestaEmision.Emision.Terminal != null &&  this.$store.state.respuestaEmision.Emision.Documento === null){
                              if(this.$store.state.respuestaEmision.Emision.Terminal !== null){

                                  /*SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE*/
                                  var jsonEmisionRespuesta = {
                                      prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                      idt: this.$store.state.respuestaEmision.Emision.IDCotizacion,
                                      respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                  };

                                  wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                      .then(reser => {
                                          console.log("Respuesta Emision Actualizada...");
                                  })

                                  /*SE ACTUALIZAN LOS DATOS DE LA SOLICITUD*/
                                  var jsonDataSolicitudUpdate = {
                                      nombre: this.$store.state.emision.Cliente.Nombre,
                                      apellidoP: this.$store.state.emision.Cliente.ApellidoPat,
                                      apellidoM: this.$store.state.emision.Cliente.ApellidoMat,
                                      telefono: this.$store.state.emision.Cliente.Telefono,//this.$store.state.emision.Cliente.FechaNacimiento
                                      fechaNacimiento: moment('1994-01-10','yyyy-MM-dd').format(),
                                      telefonoAS: "5555555555",
                                      cp: this.$store.state.emision.Cliente.Direccion.CodPostal,
                                      grupoCallback: "VN QUALITAS",
                                      idPagina:this.$store.state.datosCotizacion.dataSolicitud.idPagina,
                                      sexo: this.$store.state.datosCotizacion.dataSolicitud.sexo,
                                      detalle: this.$store.state.emision.Vehiculo.Descripcion
                                  };
                                  wsupdateSolicitud.updateSolicitud(jsonDataSolicitudUpdate, this.$store.state.datosCotizacion.idSolicitud)
                                      .then(respdp => {
                                          console.log("Solicitud Actualizada...");
                                      })

                                  var urlTerminal = "https://poliza.ahorraseguros.mx/thankyouTerminal"
                                  window.location = this.$store.state.respuestaEmision.Emision.Terminal+urlTerminal
                              }
                          }else{

                              if(this.$store.state.respuestaEmision.CodigoError.length != 0){
                                  var band = this.$store.state.respuestaEmision.CodigoError.indexOf("RFC no Valido")
                                  if(band){
                                      this.$store.state.config.alertErrors.error.thisErrors = true
                                      this.$store.state.config.alertErrors.error.titulo = "RFC no Valido"
                                      this.$store.state.config.alertErrors.error.message = "Favor de verificar su RFC"
                                      this.$store.state.config.alertErrors.error.comment = "Es necesario para poder continuar con el proceso."
                                  }
                                  var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Serie Amparada en Poliza Vigente")
                                  if(band){
                                      this.$store.state.config.alertErrors.error.thisErrors = true
                                      this.$store.state.config.alertErrors.error.titulo = "Serie Amparada en Poliza Vigente"
                                      this.$store.state.config.alertErrors.error.message = "El Cliente registrado ya cuenta con un numero de poliza vigente."
                                      this.$store.state.config.alertErrors.error.comment = "Su peticion esta siendo validada y analizada por nuestro grupo de expertos."
                                  }
                                  var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Dato invalido")
                                  if(band){
                                      this.$store.state.config.alertErrors.error.thisErrors = true
                                      this.$store.state.config.alertErrors.error.titulo = "Dato invalido"
                                      this.$store.state.config.alertErrors.error.message = "Alguno de los datos ingresados no corresponden con los datos de compra."
                                      this.$store.state.config.alertErrors.error.comment = "Favor de verificar sus datos personales con los datos de compra..."
                                  }
                              }
                          }
                      }).catch(error =>{
                      console.error("Error al emitir... :P ")
                      console.error(error)
                      //console.error(error)
                      this.$store.state.config.alertErrors.error.thisErrors = true
                      this.$store.state.config.alertErrors.error.titulo = "Problemas Tecnicos."
                      this.$store.state.config.alertErrors.error.message = "Estamos presentando problemas en nuestros sistmas."
                      this.$store.state.config.alertErrors.error.comment = "Sin embargo tu solicitud quedo registrada en nuestros sistemas y en unos instantes uno de nuestros ejecutivos se pondra en contacto contigo."

                      /*SE ENVIA UN SMS NOTIDICANDO DE LOS PROBLEMAS*/
                      var jsonSendSMS = {
                          mensaje: "La PLATAFORMA DE EMISION Y COBRANZA ESTA PRESENTANDO PROBLEMAS...",
                          destino: "5529621064"
                      };
                      /*
                      wsSendSMS.sendSms(jsonSendSMS)
                          .then(reser => {  })*/

                  })

              })




      })
    }
  }
}
</script>
 <style>
/* .form-control[readonly],.form-control:disabled,
 .inputlleno{border:1px solid #8eed8e;background-color:#d6fbd6;background:#d6fbd6;opacity:0.45;}
 .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}*/
</style>
