<template lang="pug">
  .container-fluid.fondo
    <header-content></header-content>
    <!--  -->
    .container.mt-5.rec(v-if="this.$store.state.config.confirmarCotizacion")
      #modalAviso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAviso', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-body
            h3#modalAvisoLabel.modal-title.text-center Para continuar, confirma la version de tu automóvil.
            .text-center.py-2.text-success Este es el precio de tu seguro de auto: {{this.$store.state.datosCotizacion.PrimaTotal | currency}}
            .row.justify-content-center.py-3
              .col-md-12.py-3
                form-recotizacion
              .col-6.col-md-6.col-lg-6
                button.btn.btn-success.btn-block(type="button", v-on:click="actualizaConfirmacion(false)") Confirmar

    .container-fluid
      .row.paddTitles.fondo
        .container-fluid
          .row
            .container-fluid
              .row.py-3
                .col-12.col-sm-12.col-md-12.col-lg-12
                  .row
                    .col-12.py-3(v-if="!this.$store.state.config.confirmarCotizacion")
                      .card
                        .card-body
                          .row
                            .col-12.col-sm-12.col-md-12.col-lg-8.col-xl-9
                              .row.py-1(v-show=recotiza, id="contenedorPadre")
                                ol.show-grid.col-12
                                  li.col-3.col-sm-3.inactive(:class="[ this.$store.state.config.steps.step_uno ? 'colorBgQualitas1 text-white' : '' ]", href="#step-1",data-toggle="tooltip",data-placement="top",title="CONDUCTOR")
                                    .media
                                      .pull-left(href='#')
                                        span.fa.fa-user.d-block.d-sm-none.d-none
                                      .media-body.d-none.d-sm-block
                                        h5.media-heading(aria-hidden="true")
                                          strong Paso 1:
                                        |                 Datos personales
                                  li.col-3.col-sm-3.inactive(:class="[ this.$store.state.config.steps.step_dos ? 'colorBgQualitas1 text-white' : '' ]", href="#step-2",data-toggle="tooltip",data-placement="top",title="ZONA")
                                    .media
                                      .pull-left(href='#')
                                        span.fa.fa-map-marker.d-block.d-sm-none.d-none
                                      .media-body.d-none.d-sm-block
                                        h5.media-heading(aria-hidden="true")
                                          strong Paso 2:
                                        |                 Domicilio actual
                                  li.col-3.col-sm-3.inactive(:class="[ this.$store.state.config.steps.step_tres ? 'colorBgQualitas1 text-white' : '' ]", href="#step-3",data-toggle="tooltip",data-placement="top",title="AUTO")
                                    .media
                                      .pull-left(href='#')
                                        span.fa.fa-car.d-block.d-sm-none.d-none
                                      .media-body.d-none.d-sm-block
                                        h5.media-heading(aria-hidden="true")
                                          strong Paso 3:
                                        |                 Datos del vehículo
                                  li.col-3.col-sm-3.inactive(:class="[ this.$store.state.config.steps.step_cuatro ? 'colorBgQualitas1 text-white' : '' ]", v-if="!this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual")
                                    .media(href="#step-4",data-toggle="tooltip",data-placement="top",title="Datos del Pago")
                                      .pull-left(href='#')
                                        span.fa.fa-credit-card.d-block.d-sm-none.d-none
                                      .media-body.d-none.d-sm-block
                                        h5.media-heading(aria-hidden="true")
                                          strong Paso 4:
                                        |                 Pago con tarjeta
                                .steps-form-2
                                  .steps-row-2.colorActiveStep.setup-panel-2.d-flex.justify-content-between
                              .row
                                .col-12.mb-3
                                  form(role="form",action="",method="post",@submit.prevent="onSubmit")
                                    form-conductor(v-if="this.$store.state.config.steps.step_uno")
                                    form-zona(v-if="this.$store.state.config.steps.step_dos")
                                    form-auto(v-if="this.$store.state.config.steps.step_tres")
                                    form-pago(v-if="this.$store.state.config.steps.step_cuatro && !this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual")
                            .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-3.mb-1.d-none.d-sm-none.d-md-none.d-lg-block
                              .card
                                .card-header.colorBgQualitas1.mb-1
                                  .col-sm-12.text-white.text-center(style="align-content") Resumen de Compra
                                .card-body.p-0
                                  .col-sm-12(style="align-content")
                                    img.figure-img.rounded.d-block.m-auto.my-2.mx-auto(:src="'./img/aseguradoras-logo/'+$store.state.emision.Aseguradora+'.svg'",width="200px")
                                .col-sm-12.text-left
                                  table.table.table-stripped(style="font-size: small;")
                                    tbody
                                      tr
                                        td.bold.text-success.sizeBig Precio con descuento:
                                        td.bold.text-success.sizeBig {{$store.state.cotizacion.Cotizacion.PrimaTotal | currency }}
                                      tr
                                        td.bold.text-secondary #_Seguimiento:
                                        td {{$store.state.datosCotizacion.idSolicitud}}
                                      tr
                                        td.bold.text-secondary Tipo de Uso:
                                        td {{$store.state.cotizacion.Vehiculo.Uso}}
                                      tr
                                        td.bold.text-secondary Marca:
                                        td
                                          span {{$store.state.cotizacion.Vehiculo.Marca}}
                                      tr
                                        td.bold.text-secondary Descripción:
                                        td {{$store.state.cotizacion.Vehiculo.Descripcion}}
                                      tr
                                        td.bold.text-secondary Modelo:
                                        td {{$store.state.cotizacion.Vehiculo.Modelo}}
                                      tr
                                        td.bold.text-secondary Tarjetahabiente:
                                        td {{$store.state.emision.Pago.NombreTarjeta}}
                                      tr
                                        td.bold.text-secondary Banco:
                                        td {{$store.state.emision.Pago.Banco}}
                                      tr
                                        td.bold.text-secondary Método de Pago:
                                        td {{$store.state.emision.Pago.MedioPago}}
                                      tr
                                        td.bold.text-secondary Respaldado por:
                                        td {{$store.state.emision.Pago.Carrier==1?'VISA':$store.state.emision.Pago.Carrier==2?'MASTER CARD':'AMERICAN EXPRESS'}}
                                      tr
                                        td.bold.text-secondary Tarjeta:
                                        td **** **** **** {{$store.state.emision.Pago.NoTarjeta.length>4?$store.state.emision.Pago.NoTarjeta.substring($store.state.emision.Pago.NoTarjeta.length-4, $store.state.emision.Pago.NoTarjeta.length):''}}
                                      tr
                                        td.bold.text-secondary Vencimiento:
                                        td {{$store.state.emision.Pago.MesExp}} / {{$store.state.emision.Pago.AnioExp}}
                                      tr(v-if="!this.$store.state.config.btnOculto")
                                        td.sinborder(colspan="2")
                                          .col-sm-12
                                            p.text-center
                                              button.btn.btn-success.btn-lg.btn-block(name="btnEmitirDos",type="button")
                                                .row.justify-content-center.align-items-center
                                                  .col-auto.align-middle
                                                    svg.svg-inline--fa.fa-clock.fa-w-16.fa-2x.align-middle(aria-hidden='true', data-prefix='far', data-icon='clock', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', data-fa-i2svg='')
                                                      path(fill='currentColor', d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z')
                                                    // <i class="far fa-clock fa-2x align-middle"></i>
                                                  .col-auto.px-0.line-height-1
                                                    .col-auto.text-left.px-0
                                                      span.display-6
                                                        | Pagar ahora
                                                        svg.svg-inline--fa.fa-angle-right.fa-w-8(aria-hidden='true', data-prefix='fas', data-icon='angle-right', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 256 512', data-fa-i2svg='')
                                                          path(fill='currentColor', d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z')
                                                        // <i class="fas fa-angle-right"></i>
                                                    .col-auto.text-left.px-0

        <derechos-content></derechos-content>



</template>
<script>
    //Ini ajustes Leo
    import HeaderContent from '~/components/common/HeaderContent.vue'
    import FooterContent from '~/components/common/FooterContent.vue'
    import DerechosContent from '~/components/common/derechos.vue'

    //Fin ajustes Leo
    import base64 from 'base-64'
    import utf8 from 'utf8'
    import FormConductor from '~/components/emision/FormularioEmisionDataConductor.vue'
    import FormZona from '~/components/emision/FormularioEmisionDataZona.vue'
    import FormAuto from '~/components/emision/FormularioEmisionDataAuto.vue'
    import FormPago from '~/components/emision/FormularioEmisionDataPago.vue'
    import FormRecotizacion from '~/components/FormRecotizacion.vue'
    import findSolicitudById from '~/plugins/ws-buscaSolicitudPorId'
    import wsDataUbicacion from '~/plugins/codigoPostal'
    import wsBancos from '~/plugins/bancos'
    import emitirService from '~/plugins/emision'
    import wsRegistro from '~/plugins/ws-save-registro'
    import wsEmisionPeticion from '~/plugins/ws-save-emision-peticion'
    import wsEmisionRespuesta from '~/plugins/ws-save-emision-respuesta'
    import wsPago from '~/plugins/ws-save-pago'
    import wsSendSMS from '~/plugins/ws-send-sms'
    import wsDatosPago from '~/plugins/ws-save-datos-pago'
    import detallesService from '~/plugins/detalles'
    import descargaDocumento from '~/plugins/ws-downloadPDF'
    import buscaAseguradoraService from '~/plugins/ws-buscar-aseguradora'
    import wsupdateSolicitud from '~/plugins/ws-update-data-solicitud'
    import wsupdateSolicitudEjecutivo from '~/plugins/ws-update-ejecutivo-solicitud'
    import moment from 'moment';
    import Swal from 'sweetalert2'

    export default {
        components: {
            HeaderContent,
            DerechosContent,
            FooterContent,
            FormConductor,
            FormRecotizacion,
            FormZona,
            FormAuto,
            FormPago
        },
        data() {
            return {
                recotiza: true,
                detalles: [],
                isLoading: false,
                fullPage: true,
                bandData:false
            }
        },
        created: function() {
            var strDataCotizacion = {};
            var arrayDataCotizacion = {};
            /*SE VALIDA QUE LOS DATOS LLEGURN POR LA URL*/
            if (typeof this.$route.query.id === 'undefined') {
                /*SE NOTIFICA DEL ERROR Y SE REDIRECCIONA...*/
                var timerInterval
                Swal.fire({
                    title: 'Oops...!',
                    html: 'Algo salio mal, porfavor intentalo mas tarde...!',
                    timer: 5000,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                            Swal.getContent().querySelector('strong')
                                .textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    onClose: () => {
                        // Simulate a mouse click:
                        window.location.href = this.$store.state.config.urlRedirectError;
                        clearInterval(timerInterval)
                    }
                })
            }else{
                this.bandData=true;
            }
            if(this.bandData) {
                /* SE TRATAN DE DECODIFICAN LOS DATOS*/
                try {
                    strDataCotizacion = base64.decode(this.$route.query.id, 'utf8')
                    arrayDataCotizacion = JSON.parse(strDataCotizacion)
                } catch (err) {  }

                /*SE VALIDA QUE LOS DATOS DECODIFICADOS TENGAN DATOS DE COTIZACION*/
                if (typeof arrayDataCotizacion.cotizacion !== 'undefined') {
                    this.$store.state.cotizacion = arrayDataCotizacion.cotizacion
                    this.$store.state.datosCotizacion.PrimaTotal = this.$store.state.cotizacion.Cotizacion.PrimaTotal;

                    /*SE ACTUALIZA EL EJECUTIVO EN LOS DATOS DE LA SOLICITUD*/
                    wsupdateSolicitudEjecutivo.updateEjecutivoSolicitud(arrayDataCotizacion.idSolicitud, 5131)

                    /*SE HACE UNA BUSQUEDA DE ASEGURADORA POR NOMBRE*/
                    buscaAseguradoraService.getDataAseguradora(arrayDataCotizacion.aseguradora.replace("2",""))
                        .then(respAseguradora => {
                            this.$store.state.datosCotizacion.idAseguradora = respAseguradora
                        });

                    /* SE OBTIENEN LOS DETALLES DEL VEHICULO POR ASEGURADORA */
                    detallesService
                        .search(
                            arrayDataCotizacion.aseguradora.replace("2",""),
                            arrayDataCotizacion.cotizacion.Vehiculo.Marca,
                            arrayDataCotizacion.cotizacion.Vehiculo.Modelo,
                            arrayDataCotizacion.descripcion,
                            arrayDataCotizacion.subDescripcion
                        )
                        .then(resp => {
                            this.$store.state.datosCotizacion.detallesPorAseguradora = resp

                            if(this.$store.state.datosCotizacion.detallesPorAseguradora.length > 0){
                                for (var x = 0; x < this.$store.state.datosCotizacion.detallesPorAseguradora.length; x++){
                                    console.log(this.$store.state.cotizacion.Vehiculo.Clave+"=>"+this.$store.state.datosCotizacion.detallesPorAseguradora[x].id);
                                    if(this.$store.state.cotizacion.Vehiculo.Clave == this.$store.state.datosCotizacion.detallesPorAseguradora[x].id){
                                        console.log("Listo...");
                                        this.$store.state.cotizacion.Vehiculo.Descripcion=this.$store.state.datosCotizacion.detallesPorAseguradora[x].text;
                                    }
                                }
                            }
                            /*DATOS PARA LA EMISION-VEHICULO (DE LA COTIZACION ANTERIOR)*/
                            this.$store.state.emision.Vehiculo = this.$store.state.cotizacion.Vehiculo
                            this.$store.state.datosCotizacion.detalle = {
                                id: this.$store.state.cotizacion.Vehiculo.Clave,
                                text: this.$store.state.cotizacion.Vehiculo.Descripcion,
                                aseguradora: this.$store.state.cotizacion.Aseguradora
                            }


                        })

                    /*SE OBTIENEN LOS DATOS DE LAS COLONIAS SEGUN EL CP INGREDADO*/
                    wsDataUbicacion
                        .search(arrayDataCotizacion.cotizacion.Cliente.Direccion.CodPostal)
                        .then(resp => {
                            this.$store.state.config.colonias = resp
                            this.$store.state.emision.Cliente.Direccion.Poblacion = resp[0].estado
                            this.$store.state.emision.Cliente.Direccion.Ciudad = resp[0].delMun
                        })

                    /*SE CARGA LA INFORMACION DE LOS BANCOS DISPONIBLES*/
                    wsBancos
                        .search(arrayDataCotizacion.aseguradora.replace("2",""))
                        .then(resp => {
                            this.$store.state.config.bancos = resp.Bancos
                        })

                    /*SE ASIGNA EL ANIO-NACIMIENTO DEPENDIENDO DE LA EDAD*/
                    this.$store.state.config.AnioFechaNacimiento = (new Date().getFullYear() - arrayDataCotizacion.cotizacion.Cliente.Edad)

                    /*SE ASIGNAN LOS DATOS DE LA COTIZACION, VEHICULO Y LAS COBERTURAS*/
                    this.$store.state.emision.Vehiculo.Clave = this.$store.state.cotizacion.Vehiculo.Clave
                    this.$store.state.emision.Coberturas = this.$store.state.cotizacion.Coberturas
                    this.$store.state.emision.Cotizacion = this.$store.state.cotizacion.Cotizacion

                    /*POR SI EL WS FALLA AL OBTENER LOS DATOS DE LA SOLICITUD SE OBTIENEN DE LA COTIZACION*/
                    this.$store.state.emision.Cliente.Direccion.CodPostal = arrayDataCotizacion.cotizacion.Cliente.Direccion.CodPostal
                    this.$store.state.emision.Cliente.Genero = arrayDataCotizacion.cotizacion.Cliente.Genero
                    this.$store.state.emision.Cliente.FechaNacimiento = arrayDataCotizacion.cotizacion.Cliente.FechaNacimiento
                    this.$store.state.emision.Cliente.Edad = arrayDataCotizacion.cotizacion.Cliente.Edad
                    this.$store.state.emision.Aseguradora = arrayDataCotizacion.aseguradora  //-----------------------*******************---------------------
                    this.$store.state.emision.Descuento = arrayDataCotizacion.descuento

                    /*SE REALIZA LA BUSQUEDA DE LA SOLICITUD POR ID-SOLICITUD*/
                    findSolicitudById
                        .getSolicitudById(arrayDataCotizacion.idSolicitud)
                        .then(resp => {

                            if (typeof resp.idSolicitud != 'undefined') {
                                this.$store.state.datosCotizacion.idSolicitud = arrayDataCotizacion.idSolicitud
                                this.$store.state.emision.Aseguradora = this.$store.state.cotizacion.Aseguradora

                                /*DATOS PARA LA EMISION-CLIENTE(DE LA SOLICITUD)*/
                                this.$store.state.datosCotizacion.dataSolicitud = resp
                                this.$store.state.emision.Cliente.Nombre = resp.nombre
                                this.$store.state.emision.Cliente.ApellidoPat = resp.apellidoP
                                this.$store.state.emision.Cliente.ApellidoMat = resp.apellidoM
                                this.$store.state.emision.Cliente.Telefono = resp.telefono
                                this.$store.state.emision.Cliente.Email = resp.correo

                            } else {

                                Swal.fire({
                                    type: 'error',
                                    title: 'Peticion sin datos de cotización...',
                                    text: 'Porfavor, intente cotizar nuevamente con los datos de su vehiculo!',
                                    footer: '<a href="https://ahorraseguros.mx/">Cotizar nuevamente?</a>'
                                })

                            }

                        }).catch(error => {
                        this.$store.state.config.alertErrors.errorSolicitud.thisErrors = true
                        console.error("Error x_X " + error)
                        Swal.fire({
                            type: 'error',
                            title: 'Peticion sin datos de cotización...',
                            text: 'Porfavor, intente cotizar nuevamente con los datos de su vehiculo!',
                            footer: '<a href="https://ahorraseguros.mx/">Cotizar nuevamente?</a>'
                        })

                    })
                }else{
                    var timerInterval
                    Swal.fire({
                        title: 'Oops...!',
                        html: 'Algo salio mal, porfavor intentalo mas tarde...!',
                        timer: 4000,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                            timerInterval = setInterval(() => {
                                Swal.getContent().querySelector('strong')
                                    .textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        onClose: () => {
                            // Simulate a mouse click:
                            window.location.href = this.$store.state.config.urlRedirectError;
                            clearInterval(timerInterval)
                        }
                    })
                }
            }
        },
        mounted() {
        },
        methods: {
            onCancel() {
                console.log('User cancelled the loader.')
            },
            actualizaConfirmacion: function(dato) {
                this.$store.state.config.confirmarCotizacion = dato
            },
            cambiarVersion: function(dato) {
                this.$store.state.config.mostrarOne = dato
            },
            editarVersion: function(dato) {
                this.$store.state.config.mostrarTwo = dato
            },
            pagarPoliza: function(dato) {
                this.$store.state.config.btnOculto = dato
            },
            nextStep: function(step) {
                for (var stepInArray in this.$store.state.config.steps) {
                    if (step == stepInArray) {
                        this.$store.state.config.steps[stepInArray] = true
                    } else {
                        this.$store.state.config.steps[stepInArray] = false
                    }
                }
            },
            onSubmit: function() {

                var jsonEmisionPetision = {
                    idSolicitud: this.$store.state.datosCotizacion.idSolicitud,
                    idAseguradora: this.$store.state.datosCotizacion.idAseguradora,
                    peticion: JSON.stringify(this.$store.state.emision),
                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                    respuesta:''
                };
                wsEmisionPeticion.saveEmisionPeticion(jsonEmisionPetision)
                    .then(respep => {

                        /*++++++++++++++++SE REALIZA LA PETICION DE LA EMICION++++++++++++++++*/
                        emitirService.emitir(JSON.stringify(this.$store.state.emision))
                            .then(resp => {
                                this.$store.state.respuestaEmision = resp

                                /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                var jsonEmisionRespuesta = {
                                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                    respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                };
                                wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                    .then(respem => { this.$store.state.config.clickButtonEmision = true })

                                console.log("VALIDANDO LA EMISION...");
                                /*SE VALIDA LA EMISION*/
                                if(this.$store.state.respuestaEmision.Emision.Resultado === true || this.$store.state.respuestaEmision.Emision.Resultado === 'True' && typeof this.$store.state.respuestaEmision.Emision.Poliza !== 'undefined' && this.$store.state.respuestaEmision.Emision.Poliza !== "" && this.$store.state.respuestaEmision.Emision.Documento !== null){

                                    this.$store.state.config.urlPdf = this.$store.state.respuestaEmision.Emision.Documento

                                    /*MENSAJE SUCCES*/
                                    Swal.fire({
                                        position: 'top-end',
                                        type: 'success',
                                        title: 'Espere un momento',
                                        showConfirmButton: false,
                                        timer: 4500
                                    })

                                    /*SE ACTUALIZAN LOS DATOS DE LA SOLICITUD*/
                                    var jsonDataSolicitudUpdate = {
                                        nombre: this.$store.state.emision.Cliente.Nombre,
                                        apellidoP: this.$store.state.emision.Cliente.ApellidoPat,
                                        apellidoM: this.$store.state.emision.Cliente.ApellidoMat,
                                        telefono: this.$store.state.emision.Cliente.Telefono,
                                        fechaNacimiento: moment(this.$store.state.emision.Cliente.FechaNacimiento,'DD/MM/YYYY').format('YYYY-MM-DD'),
                                        telefonoAS: this.$store.state.aseguradoras[this.$store.state.emision.Aseguradora].DID,
                                        cp: this.$store.state.emision.Cliente.Direccion.CodPostal,
                                        grupoCallback: this.$store.state.aseguradoras[this.$store.state.emision.Aseguradora].callback,
                                        idPagina:this.$store.state.datosCotizacion.dataSolicitud.idPagina,
                                        sexo: this.$store.state.datosCotizacion.dataSolicitud.sexo,
                                        detalle: this.$store.state.emision.Vehiculo.Descripcion,
                                    };
                                    wsupdateSolicitud.updateSolicitud(jsonDataSolicitudUpdate, this.$store.state.datosCotizacion.idSolicitud);

                                    /*REGISTRO*/
                                    this.$store.state.datosRegistroDb.registro.numPoliza = resp.Emision.Poliza
                                    this.$store.state.datosRegistroDb.registro.idAseguradora = this.$store.state.datosCotizacion.idAseguradora
                                    this.$store.state.datosRegistroDb.registro.idEjecutivo = 5131
                                    this.$store.state.datosRegistroDb.registro.numSerie = resp.Vehiculo.NoSerie
                                    this.$store.state.datosRegistroDb.registro.numeroMotor = resp.Vehiculo.NoMotor
                                    this.$store.state.datosRegistroDb.registro.numeroPlacas = resp.Vehiculo.NoPlacas
                                    this.$store.state.datosRegistroDb.registro.primaNeta = resp.Emision.PrimaNeta
                                    this.$store.state.datosRegistroDb.registro.primaTotal = resp.Emision.PrimaTotal
                                    this.$store.state.datosRegistroDb.registro.clientePaterno = resp.Cliente.ApellidoPat
                                    this.$store.state.datosRegistroDb.registro.clienteMaterno = resp.Cliente.ApellidoMat
                                    this.$store.state.datosRegistroDb.registro.clienteNombre = resp.Cliente.Nombre
                                    this.$store.state.datosRegistroDb.registro.clienteRfc = resp.Cliente.RFC
                                    this.$store.state.datosRegistroDb.registro.clienteCp = resp.Cliente.Direccion.CodPostal
                                    this.$store.state.datosRegistroDb.registro.clienteTelefono = resp.Cliente.Telefono
                                    this.$store.state.datosRegistroDb.registro.descuento = this.$store.state.emision.Descuento
                                    this.$store.state.datosRegistroDb.registro.archivo = "/"+this.$store.state.emision.Aseguradora.replace("2","")+"/"
                                    this.$store.state.datosRegistroDb.registro.clienteTelefonoOp = resp.Cliente.Telefono
                                    this.$store.state.datosRegistroDb.registro.clienteCorreo = resp.Cliente.Email
                                    this.$store.state.datosRegistroDb.registro.clienteCorreoOp = resp.Cliente.Email
                                    this.$store.state.datosRegistroDb.registro.fechaNac = new Date(resp.Cliente.FechaNacimiento).toISOString().slice(0, 10)
                                    this.$store.state.datosRegistroDb.registro.clienteCalle = resp.Cliente.Direccion.Calle
                                    this.$store.state.datosRegistroDb.registro.clienteEstado = resp.Cliente.Poblacion
                                    this.$store.state.datosRegistroDb.registro.clienteDelgMun = resp.Cliente.Ciudad
                                    this.$store.state.datosRegistroDb.registro.clienteNumInt = resp.Cliente.Direccion.NoInt
                                    this.$store.state.datosRegistroDb.registro.clienteNumExt = resp.Cliente.Direccion.NoExt
                                    this.$store.state.datosRegistroDb.registro.clienteColonia = resp.Cliente.Direccion.Colonia
                                    this.$store.state.datosRegistroDb.registro.clienteGenero = resp.Cliente.Genero.charAt(0)
                                    this.$store.state.datosRegistroDb.registro.idSolicitud = this.$store.state.datosCotizacion.idSolicitud
                                    this.$store.state.datosRegistroDb.registro.anio = resp.Vehiculo.Modelo
                                    this.$store.state.datosRegistroDb.registro.marca = resp.Vehiculo.Marca
                                    this.$store.state.datosRegistroDb.registro.submarca = resp.Vehiculo.Descripcion
                                    this.$store.state.datosRegistroDb.registro.idMarcaCliente = 6065
                                    this.$store.state.datosRegistroDb.registro.idSubmarcaCliente = 1808111
                                    this.$store.state.datosRegistroDb.registro.idDatosInspeccion = 11


                                    /*DATOS PAGO*/
                                    this.$store.state.datosRegistroDb.datosPago.referencia = "Emitido y Cobrado desde WS"
                                    this.$store.state.datosRegistroDb.datosPago.numAutorizacion = ""
                                    this.$store.state.datosRegistroDb.datosPago.numeroDeTarjeta = resp.Pago.NoTarjeta
                                    this.$store.state.datosRegistroDb.datosPago.vencimiento = resp.Pago.AnioExp + "-" + resp.Pago.MesExp + "-01"
                                    this.$store.state.datosRegistroDb.datosPago.titular = resp.Pago.NombreTarjeta
                                    this.$store.state.datosRegistroDb.datosPago.codigoSeg = resp.Pago.CodigoSeguridad
                                    this.$store.state.datosRegistroDb.datosPago.idCarrier = this.$store.state.emision.Pago.Carrier
                                    this.$store.state.datosRegistroDb.datosPago.carrier = this.$store.state.emision.Pago.Carrier == 1 ? "VISA" : this.$store.state.emision.Pago.Carrier == 2 ? "MASTER CARD" : "AMERICAN EXPRESS"
                                    this.$store.state.datosRegistroDb.datosPago.meses = 1
                                    this.$store.state.datosRegistroDb.datosPago.idMetodoPago = this.$store.state.emision.Pago.MedioPago == "CREDITO" ? 5 : 4
                                    this.$store.state.datosRegistroDb.datosPago.idBanco = 15
                                    this.$store.state.datosRegistroDb.datosPago.bancoAbreviacion = this.$store.state.emision.Pago.Banco
                                    this.$store.state.datosRegistroDb.datosPago.idTipoTDC = 0


                                    /*+++++++++++++++++++++++++++++++++SE INSERTA EN LA BASE DE DATOS (TRIGARANTE)+++++++++++++++++*/

                                    /*SE ALMACENAN LOS DATOS DE LA EMISION EN LA BASE DE DATOS*/
                                    wsRegistro.saveRegistro(JSON.stringify(this.$store.state.datosRegistroDb.registro))
                                        .then(respr => {

                                            /*VALIDAR QUE SE INSERTE CORRECTAMENTE LA POLIZA EN LA TABLA REGISTRO*/
                                            wsDatosPago.saveDatosPago(JSON.stringify(this.$store.state.datosRegistroDb.datosPago))
                                                .then(respdp => {

                                                    /*PAGO*/
                                                    this.$store.state.datosRegistroDb.pago.cantidad = resp.Emision.PrimaTotal
                                                    this.$store.state.datosRegistroDb.pago.archivo = ""
                                                    this.$store.state.datosRegistroDb.pago.aplicado = 1
                                                    this.$store.state.datosRegistroDb.pago.corregido = 0
                                                    this.$store.state.datosRegistroDb.pago.mesaControl = null
                                                    this.$store.state.datosRegistroDb.pago.comentarios = "Pago registrado automáticamente mediante WS"
                                                    this.$store.state.datosRegistroDb.pago.seriePago = 1
                                                    this.$store.state.datosRegistroDb.pago.idEjecutivo = 5131
                                                    this.$store.state.datosRegistroDb.pago.idDatosPago = respdp.idDatosPago
                                                    this.$store.state.datosRegistroDb.pago.numPoliza = resp.Emision.Poliza
                                                    this.$store.state.datosRegistroDb.pago.idAseguradora = this.$store.state.datosCotizacion.idAseguradora
                                                    this.$store.state.datosRegistroDb.pago.idEstadoNomina = 2
                                                    wsPago.savePago(JSON.stringify(this.$store.state.datosRegistroDb.pago))
                                                        .then(respp => {
                                                            descargaDocumento
                                                                .downloadFilePDF(this.$store.state.respuestaEmision.Emision.Documento, this.$store.state.emision.Aseguradora.replace("2",""), resp.Emision.Poliza)

                                                            /*SE REDIRECCIONA A LA PAGINA DE AGRADECIMIENTO...*/
                                                            this.$router.push({ name: 'thankyou' });
                                                        })
                                                })
                                        })

                                }else{


                                    if(this.$store.state.respuestaEmision.CodigoError !== null){
                                        /*SE ACTUALIZA EL EJECUTIVO EN LOS DATOS DE LA SOLICITUD*/
                                        wsupdateSolicitudEjecutivo.updateEjecutivoSolicitud(this.$store.state.datosCotizacion.idSolicitud, 344)

                                        if(this.$store.state.respuestaEmision.CodigoError.length !== 0){


                                            var band = this.$store.state.respuestaEmision.CodigoError.indexOf("No paso el Pago")
                                            if(band > -1){
                                                /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                                var jsonEmisionRespuesta = {
                                                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                                    respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                                };
                                                wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                                    .then(reser => {
                                                        this.$store.state.config.clickButtonEmision = true
                                                    })

                                                Swal.fire({
                                                    type: 'error',
                                                    title: 'Oops...',
                                                    text: 'No paso el Pago. Favor de validar que los datos del medio de pago sean correctos o estén vigentes.!',
                                                    footer: ''
                                                })

                                            }


                                            var band = this.$store.state.respuestaEmision.CodigoError.indexOf("RFC no Valido")
                                            if(band > -1){
                                                /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                                var jsonEmisionRespuesta = {
                                                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                                    respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                                };
                                                wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                                    .then(reser => {
                                                        this.$store.state.config.clickButtonEmision = true
                                                    })

                                                Swal.fire({
                                                    type: 'error',
                                                    title: 'Oops...',
                                                    text: 'Favor de verificar su RFC, es necesario para poder continuar con el proceso.!',
                                                    footer: ''
                                                })

                                            }



                                            var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Serie Amparada en Poliza Vigente")
                                            if(band > -1){

                                                /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                                var jsonEmisionRespuesta = {
                                                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                                    respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                                };
                                                wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                                    .then(reser => {
                                                        this.$store.state.config.clickButtonEmision = true
                                                    })

                                                Swal.fire({
                                                    type: 'error',
                                                    title: 'Oops...',
                                                    text: 'Serie Amparada en Poliza Vigente, el cliente registrado ya cuenta con un numero de poliza vigente. Su peticion esta siendo validada y analizada por nuestro grupo de expertos.!',
                                                    footer: ''
                                                })

                                            }


                                            var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Dato invalido")
                                            if(band > -1){

                                                /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                                var jsonEmisionRespuesta = {
                                                    prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                                    respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                                };
                                                wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                                    .then(reser => {
                                                        this.$store.state.config.clickButtonEmision = true
                                                    })

                                                Swal.fire({
                                                    type: 'error',
                                                    title: 'Oops...',
                                                    text: 'Dato invalido, alguno de los datos ingresados no corresponden con los datos de compra. Favor de verificar sus datos personales con los datos de compra.!',
                                                    footer: ''
                                                })
                                            }

                                        }

                                    }


                                }
                            }).catch(error =>{

                            console.error("Error al emitir... :P ")
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: error,
                                footer: '<strong>Intentelo mas tarde.</strong>'
                            })
                            this.$store.state.config.clickButtonEmision = true

                            /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                            var jsonEmisionRespuesta = {
                                prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                            };
                            wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                .then(reser => {
                                    this.$store.state.config.clickButtonEmision = true
                                })
                            wsupdateSolicitudEjecutivo.updateEjecutivoSolicitud(this.$store.state.datosCotizacion.idSolicitud, 344)

                            /*SE ENVIA UN SMS NOTIDICANDO DE LOS PROBLEMAS*/
                            var jsonSendSMS = {
                                mensaje: "La PLATAFORMA DE EMISION Y COBRANZA ESTA PRESENTANDO PROBLEMAS...",
                                destino: "5529621064"
                            };
                            wsSendSMS.sendSms(jsonSendSMS)
                                .then(reser => {  })

                        })

                    })


            }
        }
    }
    //
</script>
<style lang="css">
  .rec {
    height:65vh;
  }
  .steps-form-2 {
    display: table;
    width: 100%;
    position: relative;
  }
  .steps-form-2 .steps-row-2 {
    display: table-row;
  }
  .steps-form-2 .steps-row-2:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #E1E4EA;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 p {
    margin-top: 0.5rem;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
    width: 70px;
    height: 70px;
    border: 2px solid #59698D;
    background-color: white !important;
    color: #59698D !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: white !important;
  }
  .steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {font-size: 1.7rem;}
  /*.form-control {border:none;border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;border-bottom:1px solid #dc3545;}*/

  .form-control[readonly],.form-control:disabled,
  .inputlleno{border:1px solid #8eed8e;background-color:#d6fbd6;background:#d6fbd6;opacity:1;}
  .inputlleno.icontick{background-image:url(~static/img/images/tick.svg);background-size:15px;background-position:96% center;background-repeat:no-repeat;content:" ";}
  .sinborder{border-top:none!important;}
  .bnone{border:none!important;}
  .bnone .fa{color:#E1E4EA !important;}
  .fa.colorActiveStep{color:#0065c5 !important}
  /*.steps-form-2 .steps-row-2.colorActiveStep:before {top:14px;bottom:0;position:absolute;content:" ";width:100%;height:2px;background-color:#0065c5;}*/
  .bnone .fa:hover{color:#0065c5!important;}
  .fa.fa-2x.colorActiveStep:after{content:" ";bottom:0;position:relative;width:5px;height:5px;background-color:#0065c5;border-radius:50%;display:block;margin:10px auto 0;}
  /**/
  .show-grid [class^=col-] {padding-top: 10px;padding-bottom: 10px;border: 1px solid #ddd;border: 1px solid rgba(86,61,124,.2);list-style: none;float:left;}
  span.fa-user,
  span.fa-map-marker,
  span.fa-car,
  span.fa-credit-card,
  {margin-top: 5px;margin-bottom: 10px;font-size: 35px;display:block;margin:0 auto;}
  .inactive{color:#ccc;background-color:#fafafa;}
  /**/
  .btn-blocky{display:inline-block;width:45%;}
  .fondo{background:#e9ebee;}
  .colorBgQualitas1{background:#009c94!important;background-color:#009c94!important;}
  .colorBgQualitas2{}
  .colortxtQualitas1{color:#009c94!important;}
  .colortxtQualitas2{}
  .sizeBig{font-size:1.2em;font-weight:700;}
  /*.form-control input[type="text"]:required:valid,
  .form-control.is-invalid{border:none;border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;border-bottom:3px solid #dc3545!important;}*/
  select:required:invalid,
  input[type="password"]:required:invalid,
  input[type="text"]:required:invalid{border:none;border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;border-bottom:1px solid #dc3545;opacity:1;}
  select:required:valid,
  input[type="password"]:required:valid,
  input[type="text"]:required:valid{border:1px solid #8eed8e;background-color:#d6fbd6;background:#d6fbd6;opacity:1;background-image:url(~static/img/images/tick.svg);background-size:15px;background-position:96% center;background-repeat:no-repeat;content:" ";}
  @media(min-width:320px) and (max-width:768px){.rec {height:90vh;}}
</style>