<template lang="pug">
    div
        <header-content/>
            //- 
            .jumbotron.jumbotron-fluid.overfBg
                .container
                    h1.display-4.text-primary.text-center.bold ¡Felicidades {{this.$store.state.emision.Cliente.Nombre}} {{this.$store.state.emision.Cliente.ApellidoPat}} {{this.$store.state.emision.Cliente.ApellidoMat}} !
                    p.lead.text-primary.text-center
                        | Tu Pago se ha realizado con éxito 
                        i.fa.fa-check.text-primary.text-center.m-auto
            .container.py-2
                .row
                    .col-md-11
                        p.text-secondary.text-center Te recordamos que descargues y guardes en un lugar seguro los siguientes documentos que son los comprobantes y póliza de tu vehúculo además de otros elementos.

            .container
                .row
                    .col-md-11.py-3(v-if="this.$store.state.config.urlPdf.length>0 && this.$store.state.config.urlPdf!='0004-- El agente no coincide con el negocio'")
                        table.table.table-striped.table-hover.col-md-8
                            thead
                                tr
                                    th.text-primary(scope="col") #
                                    th.text-primary(scope="col") Documento - PDF
                                    th(scope="col")
                            tbody
                                tr(v-for="(document, key) in this.$store.state.config.urlPdf.split('|')", v-if="document.length>0")
                                    th.text-secondary(scope="row") {{key+1}}
                                    td
                                        a.btn.btn-success.btn-block.font-weight-bold(:href="document", target="_blank") Descargar
        <footer-content/>
</template>
    <script>
        import HeaderContent from '~/components/common/HeaderContent.vue'
        import FooterContent from '~/components/common/FooterContent.vue'
export default {
        components: {
        HeaderContent,
        FooterContent
      }
}
    </script>
    <style>
    .uppercase{text-transform:uppercase;}
/*    .overfBg{background-image:url(~/compras-online/img/images/img.png);background-size:cover;background-position:center;}*/
    .bold{font-weight:700;}
    </style>
